In [2]:
import pandas as pd
import numpy as np
from itertools import permutations
from itertools import combinations

import warnings
warnings.filterwarnings("ignore")

In [3]:
numbers = [x for x in range(1,51)]

In [4]:
comb = combinations(numbers, r=5)

In [5]:
df = pd.DataFrame(comb, columns=['1st Num','2nd Num','3rd Num','4th Num','5th Num'])

In [6]:
df.tail()

         1st Num  2nd Num  3rd Num  4th Num  5th Num
2118755       45       46       47       48       50
2118756       45       46       47       49       50
2118757       45       46       48       49       50
2118758       45       47       48       49       50
2118759       46       47       48       49       50

In [7]:
df.to_hdf('E:/Python Programs/EuroAstro/total_combinations.h5',key='df',mode='w')

In [8]:
df1 =  pd.read_csv("E:/Python Programs/EuroAstro/Previous_Combinations.csv")

In [9]:
df1.tail()

     Previous Combinations
1682        15 22 35 44 48
1683          4 8 10 16 34
1684         4 19 23 35 37
1685         9 25 28 37 38
1686          5 7 12 33 46

In [10]:
df1.to_hdf('E:/Python Programs/EuroAstro/Previous_combinations.h5',key='df1',mode='w')