In [ ]:
# !pip install openpyxl

In [1]:
from itertools import permutations
from itertools import combinations
import pandas as pd
import numpy as np
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook

In [2]:
numbers = [x for x in range(1,51)]

In [3]:
comb = combinations(numbers, r=5)

In [4]:
df = pd.DataFrame(comb, columns=['1st Num','2nd Num','3rd Num','4th Num','5th Num'])

In [5]:
df.tail()

         1st Num  2nd Num  3rd Num  4th Num  5th Num
2118755       45       46       47       48       50
2118756       45       46       47       49       50
2118757       45       46       48       49       50
2118758       45       47       48       49       50
2118759       46       47       48       49       50

In [6]:
# Dividing 2118759 rows into 10 equal parts

df1 = df.iloc[0:211876,:]
df2 = df.iloc[211876:423752,:]
df3 = df.iloc[423752:635628,:]
df4 = df.iloc[635628:847504,:]
df5 = df.iloc[847504:1059380,:]
df6 = df.iloc[1059380:1271256,:]
df7 = df.iloc[1271256:1483132,:]
df8 = df.iloc[1483132:1695008,:]
df9 = df.iloc[1695008:1906884,:]
df10 = df.iloc[1906884:,:]

In [7]:
file_path = r'E:/Python Programs/EuroAstro/total_combinations.xlsx'

In [8]:
# A represents the entire excel sheet

A1 = load_workbook(file_path)

In [10]:
# Loads the excel file temporarily in the memory

B1 = A1['Sheet1']

In [11]:
for r in dataframe_to_rows(df1, index=False):
    B1.append(r)

In [12]:
A1.save(file_path)

In [13]:
A2 = load_workbook(file_path)
B2 = A2['Sheet2']

for r in dataframe_to_rows(df2, index=False):
    B2.append(r)

A2.save(file_path)

In [14]:
A3 = load_workbook(file_path)
B3 = A3['Sheet3']

for r in dataframe_to_rows(df3, index=False):
    B3.append(r)

A3.save(file_path)

In [15]:
A4 = load_workbook(file_path)
B4 = A4['Sheet4']

for r in dataframe_to_rows(df4, index=False):
    B4.append(r)

A4.save(file_path)

In [16]:
A5 = load_workbook(file_path)
B5 = A5['Sheet5']

for r in dataframe_to_rows(df5, index=False):
    B5.append(r)

A5.save(file_path)

In [17]:
A6 = load_workbook(file_path)
B6 = A6['Sheet6']

for r in dataframe_to_rows(df6, index=False):
    B6.append(r)

A6.save(file_path)

In [18]:
A7 = load_workbook(file_path)
B7 = A7['Sheet7']

for r in dataframe_to_rows(df7, index=False):
    B7.append(r)

A7.save(file_path)

In [19]:
A8 = load_workbook(file_path)
B8 = A8['Sheet8']

for r in dataframe_to_rows(df8, index=False):
    B8.append(r)

A8.save(file_path)

In [20]:
A9 = load_workbook(file_path)
B9 = A9['Sheet9']

for r in dataframe_to_rows(df9, index=False):
    B9.append(r)

A9.save(file_path)

In [21]:
A10 = load_workbook(file_path)
B10 = A10['Sheet10']

for r in dataframe_to_rows(df10, index=False):
    B10.append(r)

A10.save(file_path)